.nav {
    height: 100%;
    display: flex;
    background:#ffE;
    text-decoration:none;
    &_button{
        width: 8rem;
        margin-left: 5px;
        text-align: center;
        &:hover{
            text-decoration: none;
            color:black;
        }
      }
    


    &_list{
        padding-left: 15%;
        height: 3rem;
        &-item{
            text-transform: uppercase;
            padding: 5px;
            color:black;
            text-align: center;
            text-decoration: none;
        }
    }
}
