.nav {
    height: 100%;
    display: flex;
    z-index: 10;
    background:var(--primary-color-red);
    text-decoration:none;
    &_button{
        width: 8rem;
        margin-left: 5px;
        text-align: center;
        &:hover{
            text-decoration: none;
            color:var(--primary-color);
            font-weight: 800;
        }
      }
    


    &_list{
        position: fixed;
        padding-left: 15%;
        height: 8vh;
        width: 100vw;
        align-items: center;
        &-item{
            text-transform: uppercase;
            padding: 5px;
            color:black;
            text-align: center;
            text-decoration: none;
        }
    }
}
