.footer{
    background: var(--primary-color-dark);
    &_list{
        list-style: none;
        color:var(--primary-color-red);
        padding: 5%;
        height: 30vh;
        text-align: left;
        width: 50%;
        margin-left: 5%;
    }

}