.agent{
    padding: 5%;
    width: 75%;
    margin: 0 auto;
}

.cols{


    padding-bottom: 2%;

    &_image{
        position: relative;
        overflow: hidden;

    }

    &_desc{
        border: 4px solid black;
        padding:.5rem;
        background:tan;
    }
    &_name{
        padding-right: .5rem;
    }
    &_subColumn{
        border: 4px solid black;
        padding: 15px;
        background: tan;
        left: -5%;
        z-index: 15;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}