.agent{
    // padding: 5%;
    // width: 75%;
    // margin: 0 auto;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    width: 75%;


}

.cols{


    // padding-bottom: 2%;

    margin-top:2rem;
    margin-bottom:2rem;
    overflow: hidden;
    
    &_image{
        // position: relative;
        // overflow: hidden;


        max-width: 50%;
        overflow: hidden;
        padding: 5%;
        background: #eff;
        max-height:15rem;
        padding: 5%;

    }

      &_desc{
           border-left: 4px solid black;
           padding:5rem;
           background:tan;
           overflow: scroll;
           min-width:40rem;
           max-height:40rem;
      }
    // &_name{
        // padding-right: .5rem;
    // }
    &_subColumn{
        // border: 4px solid black;
        // padding: 15px;
        // background: tan;
        // left: -5%;
        // z-index: 15;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-decoration: none;
        background:tan;
        margin: auto 0;
        justify-content: center;
        align-items: center;
        height: 33.7vh;
    }
    
}