.spacer{
    height: 50vh;
    width: 98.6vw;
    background: var(--primary-color-dark);
    border-top: 1rem solid var(--primary-color-pink);
    border-bottom: 1rem solid var(--primary-color-pink);
    transform: skew(0deg,-2deg);
    box-shadow: 1px 0 1rem var(--primary-color-dark);
    margin: 0 auto;
    margin-bottom:4rem;
    margin-top:4rem;
}