.spacer{
    height: 50vh;
    width: 98.6vw;
    background: #320d32;
    border-top: 1rem solid tan;
    border-bottom: 1rem solid tan;
    transform: skew(0deg,-2deg);
    box-shadow: 1px 0 1rem black;
    margin: 0 auto;
    margin-bottom:4rem;
    margin-top:4rem;
}