.community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    width: 75%;
    overflow: hidden;

    // &_arts,&_history{

    //     float: left;
    // }
    &_sub{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-decoration: none;
        background:tan;
        

    }
    // &_rec{
    //     float:right;
    // }

    &_img{
       max-width: 50%;
       overflow: hidden;
       padding: 5%;
       background: #eff;

    }

    &_row{
        margin-top:2rem;
        margin-bottom:2rem;
        overflow: hidden;

    }

}