.community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    width: 75%;
    overflow: hidden;

    // &_arts,&_history{

    //     float: left;
    // }
    &_sub{
        display: flex;
        list-style-type: none;
        text-decoration: none;
        background:tan;
        

    }
    // &_rec{
    //     float:right;
    // }


    &_img{
       height: 50vh;
       overflow: hidden;

    }


}